.settings
.project
.classpath
target

*.iml
*.ipr
*.iws

.DS_Store
.DS_Store/

*/.settings
*/.project
*/.classpath
*/target

*/*.iml
*/*.ipr
*/*.iws
.idea/

*~
.*~

pom.xml.releaseBackup
release.properties
*.versionsBackup
dependency-reduced-pom.xml

